.wrapper{
    width: 356px;
    height: calc(100vh - 60px);
    margin-top: 60px;
    padding: 20px 0px 26px 8px;
    overflow-y: auto;
    
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    .wrapper {
        background-color: rgba(0, 0, 0, 0);
        -webkit-background-clip: text;
        /* uncomment following line to see the trick in actions */
        // -webkit-text-fill-color: transparent;
        transition: background-color .8s;
    }

    .wrapper:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .wrapper::-webkit-scrollbar {
        width: 6px;
    }

    .wrapper::-webkit-scrollbar-track {
        display: none;
    }

    .wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: inherit;
    }
}