.wrapper{
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;    
    width: 100%;
    
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
}
.logo{
    display: flex;
}

.more-btn{
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-left: 16px;
    cursor: pointer;
}

//user

.action{
    display: flex;
    align-items: center;
}
.user-avatar{
    height: 32px;
    width: 32px;
    margin-left: 24px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.action-icon{
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-size: 22px;
    margin-left: 16px;
    cursor: pointer;
}
.plane{
    transform: rotate(17deg);
}
