.wrapper{
    position: relative;
    width: 320px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
}
.avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-follow{
    position: absolute;
    right: 20px;
    top: 25px;
}

.info{
    display: flex;
    align-items: center;
}

.info span{
    font-family: 'SofiaPro';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:rgb(22, 24, 35)
}

.info i {
    font-size: 14px;
    color: rgb(32, 213, 236);
    margin-left: 6px;
}

.nickname{
    color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.info-folow{
    display: flex;
}

.num-follow{
    display: flex;
    margin-right: 12px;
}

.num{
    color: rgb(22, 24, 35);
    font-weight: 700;
    margin-right: 6px;
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
}
.title{
    color: rgba(22, 24, 35, 0.75);
    font-size: 17px;
    line-height: 20px;
}